@model University.Users.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Students</title>
</head>
<body>
    <div>
        @String.Format("Stephen")
    </div>
</body>
</html>
